html,
body {
  margin: 0;
  padding: 0;
}

#es-elseve.es-elseve {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.3;
  max-width: 930px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;
}
#es-elseve.es-elseve * {
  box-sizing: border-box;
}
#es-elseve.es-elseve h2,
#es-elseve.es-elseve h3,
#es-elseve.es-elseve h4,
#es-elseve.es-elseve h5 {
  font-family: "Montserrat", sans-serif;
  color: #000;
}
#es-elseve.es-elseve .es-kv {
  background: url("../images/kv-bg.png") no-repeat;
  background-size: cover;
}
#es-elseve.es-elseve .es-kv__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: "Bold", "Montserrat", sans-serif;
  font-weight: inherit;
  font-weight: 200;
  font-size: 20px;
  text-transform: uppercase;
  padding: 16px;
  opacity: 0;
  animation: slideright 0.8s ease forwards;
  animation-delay: 0.9s;
}
#es-elseve.es-elseve .es-kv__title--red {
  color: #d4025d;
  background: linear-gradient(90deg, rgb(239, 74, 153) 0%, rgb(239, 74, 153) 35%, rgb(251, 184, 211) 39%, rgb(239, 74, 153) 44%, rgb(239, 74, 153) 67%, rgb(239, 74, 153) 91%, rgb(251, 184, 211) 96%, rgb(239, 74, 153) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#es-elseve.es-elseve .es-kv__title-description {
  display: block;
  margin: 0 auto;
  max-width: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  position: relative;
}
#es-elseve.es-elseve .es-kv__title-description::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 58px;
  top: -8px;
  left: 0%;
  background: url("../images/lines.png") no-repeat;
  background-size: contain;
}
#es-elseve.es-elseve .es-kv__title-description--pink {
  color: #d4025d;
  background: linear-gradient(90deg, rgb(239, 74, 153) 0%, rgb(239, 74, 153) 39%, rgb(251, 184, 211) 44%, rgb(251, 184, 211) 67%, rgb(239, 74, 153) 91%, rgb(251, 184, 211) 96%, rgb(239, 74, 153) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#es-elseve.es-elseve .es-kv__img-description-1, #es-elseve.es-elseve .es-kv__img-description-2 {
  display: none;
}
#es-elseve.es-elseve .es-kv__subtitle {
  letter-spacing: -1px;
  font-size: 14px;
  color: #fff;
}
#es-elseve.es-elseve .es-kv__disclaimer {
  letter-spacing: -1px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-transform: initial;
  color: #fff;
}
#es-elseve.es-elseve .es-kv__title-group {
  align-self: flex-end;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
#es-elseve.es-elseve .es-kv__container {
  width: 100%;
  position: relative;
}
#es-elseve.es-elseve .es-kv__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-elseve.es-elseve .es-kv__branding {
  padding: 16px;
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
#es-elseve.es-elseve .es-kv__packshot {
  padding: 16px;
  opacity: 0;
  animation: appear 0.8s ease forwards;
  animation-delay: 0.9s;
}
#es-elseve.es-elseve .es-kv__wrapper {
  background: url("../images/packshot-bg.png") no-repeat;
  background-size: cover;
  min-height: 557px;
  width: 100%;
}
#es-elseve.es-elseve .es-kv__logo {
  margin-bottom: 20px;
  opacity: 0;
  animation: slidedown 0.8s ease forwards;
}
#es-elseve.es-elseve .es-kv__brand {
  margin-bottom: 32px;
  opacity: 0;
  animation: slidedown 0.8s ease forwards;
  animation-delay: 0.3s;
}
#es-elseve.es-elseve .es-kv__brand-item {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 9px;
}
#es-elseve.es-elseve .es-kv__brand-item-title {
  display: block;
  margin: 5px auto;
  padding: 2px 5px;
  max-width: 185px;
  text-transform: uppercase;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  background-color: #d4025d;
}
#es-elseve.es-elseve .es-kv__brand-item-description {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
}
#es-elseve.es-elseve .es-kv__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  color: #5f4e9b;
  font-size: 20px;
  letter-spacing: -2px;
  opacity: 0;
  animation: slidedown 0.8s ease forwards;
  animation-delay: 0.6s;
}
#es-elseve.es-elseve .es-kv__text span {
  color: #e61357;
  font-weight: 700;
  font-size: 0.8em;
}
#es-elseve.es-elseve .es-video {
  padding-left: 15px;
  padding-right: 15px;
}
#es-elseve.es-elseve .es-video__wrapper {
  position: relative;
  margin-bottom: 50px;
}
#es-elseve.es-elseve .es-video__player {
  display: block;
  margin: 0 auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 647px;
}
#es-elseve.es-elseve .es-video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#es-elseve.es-elseve .es-video__image-icon {
  width: 53px;
  height: 53px;
}
#es-elseve.es-elseve .es-video__image-icon--desktop {
  width: 116px;
  height: 116px;
}
#es-elseve.es-elseve .es-video__additional-description {
  min-width: 320px;
  margin-bottom: 32px;
}
#es-elseve.es-elseve .es-video__additional-description strong {
  text-transform: none;
}
#es-elseve.es-elseve .es-video__player--desktop {
  display: none;
}
#es-elseve.es-elseve .es-video__play-button--desktop {
  display: none;
}
#es-elseve.es-elseve .es-hair {
  background: url(../images/hair.png) no-repeat center;
  background-size: cover;
  padding: 32px;
  margin-bottom: 15px;
  position: relative;
  min-height: 200px;
}
#es-elseve.es-elseve .es-hair__decoration-title {
  display: none;
}
#es-elseve.es-elseve .es-hair__title {
  position: absolute;
  bottom: 0;
  right: 3%;
  max-width: 250px;
  font-size: 14px;
  text-align: right;
}
#es-elseve.es-elseve .es-hair__title--normal {
  font-weight: 400;
}
#es-elseve.es-elseve .es-routine {
  background: url(../images/routine-bg.png) no-repeat center;
  background-size: cover;
  padding: 32px;
  margin-bottom: 15px;
  position: relative;
  min-height: 400px;
}
#es-elseve.es-elseve .es-routine__title {
  position: absolute;
  bottom: 10%;
  right: 3%;
  max-width: 250px;
  font-size: 14px;
  text-align: right;
}
#es-elseve.es-elseve .es-routine__title sup {
  font-size: 14px;
}
#es-elseve.es-elseve .es-routine__title--normal {
  font-weight: 400;
}
#es-elseve.es-elseve .es-metamorphosis {
  background: url(../images/metamorphosis-bg.png) no-repeat center;
  background-size: cover;
  padding: 32px;
  margin-bottom: 15px;
  position: relative;
  min-height: 200px;
}
#es-elseve.es-elseve .es-metamorphosis__title {
  position: absolute;
  bottom: 10%;
  right: 3%;
  max-width: 250px;
  font-size: 14px;
  text-align: right;
}
#es-elseve.es-elseve .es-metamorphosis__title sup {
  font-size: 14px;
}
#es-elseve.es-elseve .es-metamorphosis__title--normal {
  font-weight: 400;
}
#es-elseve.es-elseve .es-metamorphosis__disclaimer {
  position: absolute;
  display: inline-block;
  bottom: 3%;
  right: 2%;
  font-size: 6px;
  text-transform: uppercase;
  font-weight: bold;
}
#es-elseve.es-elseve .es-info {
  margin-bottom: 64px;
}
#es-elseve.es-elseve .es-info__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 0 16px;
  font-weight: 400;
  margin-bottom: 32px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
#es-elseve.es-elseve .es-info__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 0 16px;
  font-weight: 400;
  margin-bottom: 80px;
  text-align: center;
}
#es-elseve.es-elseve .es-info__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-elseve.es-elseve .es-info__container {
  margin-bottom: 16px;
}
#es-elseve.es-elseve .es-info__bg {
  transition: transform 0.6s;
}
#es-elseve.es-elseve .es-info__content {
  padding: 16px;
  max-width: 632px;
  margin: 0 auto;
}
#es-elseve.es-elseve .es-info__label {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 4px 25px;
  margin-right: 10px;
  background: #d4025d;
  color: #fff;
}
#es-elseve.es-elseve .es-info__name {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #d4025d;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 32px;
  font-size: 21px;
  font-weight: 700;
}
#es-elseve.es-elseve .es-info__desc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  margin-bottom: 24px;
}
#es-elseve.es-elseve .es-info__desc--under {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
#es-elseve.es-elseve .es-info__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 13px;
}
#es-elseve.es-elseve .es-info__text--disc {
  font-size: 13px;
}
#es-elseve.es-elseve .es-info__item {
  margin-bottom: 5px;
}
#es-elseve.es-elseve .es-info__line {
  display: none;
}
#es-elseve.es-elseve .es-info__disclaimer {
  display: inline-block;
  margin-top: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
#es-elseve.es-elseve .es-ba {
  margin-bottom: 70px;
}
#es-elseve.es-elseve .es-ba__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
}
#es-elseve.es-elseve .es-ba__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 64px;
  text-align: center;
}
#es-elseve.es-elseve .es-ba__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px 4px;
}
#es-elseve.es-elseve .es-ba__single {
  position: relative;
  overflow: hidden;
}
#es-elseve.es-elseve .es-ba__single:hover .es-ba__img {
  transform: scale(1.2);
}
#es-elseve.es-elseve .es-ba__label {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-family: inherit;
  font-weight: inherit;
  font-size: 11px;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.9);
}
#es-elseve.es-elseve .es-ba__label--before {
  left: 30%;
}
#es-elseve.es-elseve .es-ba__label--after {
  left: 55%;
}
#es-elseve.es-elseve .es-ba__label--before-3 {
  left: 35%;
}
#es-elseve.es-elseve .es-ba__label--after-3 {
  left: 60%;
}
#es-elseve.es-elseve .es-ba__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  transition: all 0.3s;
  max-height: 406px;
  width: 300px;
}
#es-elseve.es-elseve .es-ba__disclaimer {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 6px;
  text-align: right;
  margin-right: 5%;
}
#es-elseve.es-elseve .es-cross {
  padding: 0 32px;
  margin-bottom: 64px;
}
#es-elseve.es-elseve .es-cross__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 64px;
  text-align: center;
}
#es-elseve.es-elseve .es-cross__products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
}
#es-elseve.es-elseve .es-cross__product {
  width: 264px;
  margin-bottom: 32px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#es-elseve.es-elseve .es-cross__product:hover .es-cross__link::before {
  transform: scaleX(1);
}
#es-elseve.es-elseve .es-cross__product:hover .es-cross__packshot {
  transform: translateY(-8px);
}
#es-elseve.es-elseve .es-cross__packshot {
  transition: transform 0.3s;
  margin-bottom: 24px;
}
#es-elseve.es-elseve .es-cross__packshot img {
  max-width: none;
}
#es-elseve.es-elseve .es-cross__text {
  min-height: 33px;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
}
#es-elseve.es-elseve .es-cross__desc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 8px;
  font-size: 16px;
}
#es-elseve.es-elseve .es-cross__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  position: relative;
  display: inline-block;
  padding: 12px 64px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 8px;
  font-size: 12px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  background: #d4025d;
  z-index: 1;
  font-weight: 800;
}
#es-elseve.es-elseve .es-cross__link::before {
  content: "";
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
#es-elseve.es-elseve .es-cross__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
}
#es-elseve.es-elseve .es-footer__logo {
  padding-bottom: 24px;
}
#es-elseve.es-elseve .es-footer__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-elseve.es-elseve .es-footer__container {
  padding: 32px;
  background: #f9f7f7;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 32px;
}
#es-elseve.es-elseve .es-footer__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 200;
}
@media screen and (min-width: 500px) {
  #es-elseve.es-elseve .es-formula {
    min-height: 350px;
    background: url(../images/formula.png) no-repeat 50% 66%;
    background-size: cover;
    min-height: 442px;
  }
  #es-elseve.es-elseve .es-formula__subtitle {
    font-size: 25px;
    left: 5%;
  }
  #es-elseve.es-elseve .es-hair {
    background-size: cover;
    min-height: 442px;
  }
  #es-elseve.es-elseve .es-hair__title {
    max-width: 350px;
    font-size: 25px;
  }
  #es-elseve.es-elseve .es-metamorphosis {
    background-size: cover;
    min-height: 442px;
  }
  #es-elseve.es-elseve .es-metamorphosis__title {
    max-width: 400px;
    font-size: 25px;
  }
  #es-elseve.es-elseve .es-metamorphosis__disclaimer {
    bottom: 5%;
    font-size: 7px;
  }
  #es-elseve.es-elseve .es-ba__disclaimer {
    font-size: 7px;
  }
}
@media screen and (min-width: 560px) {
  #es-elseve.es-elseve .es-video__player--mobile {
    display: none;
  }
  #es-elseve.es-elseve .es-video__player--desktop {
    display: block;
    min-height: 507px;
  }
  #es-elseve.es-elseve .es-video__play-button--mobile {
    display: none;
  }
  #es-elseve.es-elseve .es-video__play-button--desktop {
    display: block;
  }
}
@media screen and (min-width: 620px) {
  #es-elseve.es-elseve .es-cross__product {
    width: 200px;
  }
  #es-elseve.es-elseve .es-hair {
    position: relative;
  }
  #es-elseve.es-elseve .es-hair__decoration-title--1, #es-elseve.es-elseve .es-hair__decoration-title--2 {
    display: block;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
  }
  #es-elseve.es-elseve .es-hair__decoration-title--1 {
    position: absolute;
    left: 5%;
    top: 22%;
  }
  #es-elseve.es-elseve .es-hair__decoration-title--1::after {
    position: absolute;
    content: "";
    top: 22px;
    left: 12px;
    width: 95%;
    height: 109px;
    max-width: 100%;
    background: url(../images/line-1.png) no-repeat;
    background-size: contain;
  }
  #es-elseve.es-elseve .es-hair__decoration-title--2 {
    position: absolute;
    right: 10%;
    top: 45%;
  }
  #es-elseve.es-elseve .es-hair__decoration-title--2::after {
    position: absolute;
    content: "";
    top: -44px;
    left: 2px;
    width: 95%;
    height: 109px;
    max-width: 100%;
    background: url(../images/line-2.png) no-repeat;
    background-size: contain;
  }
  #es-elseve.es-elseve .es-hair__title {
    max-width: 300px;
    font-size: 20px;
  }
}
@media screen and (min-width: 760px) {
  #es-elseve.es-elseve .es-kv {
    min-height: 557px;
    display: flex;
    position: relative;
  }
  #es-elseve.es-elseve .es-kv__container {
    position: relative;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
  #es-elseve.es-elseve .es-kv__title-description {
    margin-left: 0;
  }
  #es-elseve.es-elseve .es-kv__text {
    font-size: 15px;
    margin-top: -30px;
    margin-left: 25px;
    text-align: center;
  }
  #es-elseve.es-elseve .es-kv__title-group {
    text-align: left;
  }
  #es-elseve.es-elseve .es-kv__title {
    padding-left: 45px;
    background: none;
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;
  }
  #es-elseve.es-elseve .es-kv__packshot {
    position: absolute;
    bottom: -16px;
    right: 7%;
    align-self: flex-end;
  }
  #es-elseve.es-elseve .es-kv__branding {
    position: absolute;
    right: 3%;
    top: 4%;
    padding: 0;
    z-index: 1;
    width: 240px;
  }
  #es-elseve.es-elseve .es-kv__imgBrand {
    transform: scale(0.8);
  }
  #es-elseve.es-elseve .es-info {
    position: relative;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  #es-elseve.es-elseve .es-info__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    margin-bottom: 0px;
  }
  #es-elseve.es-elseve .es-info__container:nth-child(odd) {
    flex-flow: row-reverse;
  }
  #es-elseve.es-elseve .es-info__content {
    padding: 28px;
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  #es-elseve.es-elseve .es-info__bg {
    flex: 1;
  }
  #es-elseve.es-elseve .es-info__img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
  }
  #es-elseve.es-elseve .es-info__title {
    font-size: 30px;
  }
  #es-elseve.es-elseve .es-info__name {
    margin-bottom: 20px;
    font-size: 21px;
  }
  #es-elseve.es-elseve .es-ba__title {
    font-size: 30px;
  }
  #es-elseve.es-elseve .es-cross__title {
    font-size: 30px;
  }
  #es-elseve.es-elseve .es-cross__products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 600px;
  }
  #es-elseve.es-elseve .es-footer__container {
    flex-flow: row;
    justify-content: center;
  }
  #es-elseve.es-elseve .es-footer__logo {
    flex: 2;
  }
  #es-elseve.es-elseve .es-footer__nr {
    flex: 1;
  }
  #es-elseve.es-elseve .es-footer__texts {
    flex: 2;
  }
}
@media screen and (min-width: 900px) {
  #es-elseve.es-elseve .es-kv__img-description-1 {
    position: absolute;
    display: block;
    top: 26%;
    left: 32%;
    font-size: 14px;
    font-family: "Bold";
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  #es-elseve.es-elseve .es-kv__img-description-1 span {
    color: #d4025d;
  }
  #es-elseve.es-elseve .es-kv__img-description-1::after {
    content: "";
    width: 1px;
    height: 25px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background: #d4025d;
  }
  #es-elseve.es-elseve .es-kv__img-description-2 {
    position: absolute;
    display: block;
    top: 5%;
    left: 50%;
    font-size: 14px;
    font-family: "Bold";
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  #es-elseve.es-elseve .es-kv__img-description-2 span {
    color: #d4025d;
  }
  #es-elseve.es-elseve .es-kv__img-description-2::after {
    content: "";
    width: 2px;
    height: 25px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background: #d4025d;
  }
  #es-elseve.es-elseve .es-hair__title {
    max-width: 450px;
    font-size: 30px;
    line-height: 1.1;
  }
  #es-elseve.es-elseve .es-metamorphosis__title {
    max-width: 500px;
    font-size: 30px;
    bottom: 18%;
    right: 5%;
  }
  #es-elseve.es-elseve .es-metamorphosis__disclaimer {
    right: 5%;
  }
  #es-elseve.es-elseve .es-ba {
    position: relative;
  }
  #es-elseve.es-elseve .es-ba__title {
    font-size: 32px;
    position: absolute;
    z-index: 1;
    top: 44%;
    left: 30.3%;
    transform: translate(-20%, -50%);
    color: #fff;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  }
  #es-elseve.es-elseve .es-ba__title sup {
    font-size: 18px;
  }
  #es-elseve.es-elseve .es-cross__products {
    max-width: none;
  }
}
@media screen and (min-width: 1300px) {
  #es-elseve.es-elseve .es-kv {
    background-position: -70px;
  }
  #es-elseve.es-elseve .es-kv__imgPackshot {
    width: 270px;
  }
  #es-elseve.es-elseve .es-kv__packshot {
    bottom: -8px;
    right: 6%;
  }
}

@media screen and (min-width: 760px) {
  .es-kv {
    background-size: 100%;
  }
  .es-kv__title {
    font-size: 36px;
    min-width: 508px;
    letter-spacing: -5px;
    margin-bottom: 50px;
  }
  .es-kv__imgPackshot {
    width: 262px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 760px) and (min-width: 768px) {
  .es-kv__packshot {
    margin-left: -390px;
    margin-top: -162px;
    padding: 0;
  }
}
@media screen and (min-width: 760px) {
  .es-ba__single {
    max-width: 300px;
  }
  .es-cross__link {
    padding: 12px 48px;
    overflow: hidden;
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  10% {
    transform: rotate(30deg) translate(-50%, -50%);
  }
  35% {
    transform: rotate(-50deg) translate(-50%, -50%);
  }
  70% {
    transform: rotate(90deg) translate(-50%, -50%);
  }
  85% {
    transform: rotate(30deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
}
/*# sourceMappingURL=style.css.map */